html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  background: #ffffff;
  color: #000000;
}

main {
  display: block;
}
